#map {
    position: absolute;
    top: 56px;
    bottom: 0;
    width: 100%;
}

.leaflet-popup-content span {
    display: block;
    font-weight: bold;
}


.info.legend {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.legend h4 {
    margin: 0 0 10%;
    font-size: 16px;
}

.legend .legend-icon {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 12px;
}

.legend .awesome-marker {
    position: static;
    margin-top: 10px;
}

.legend .legend-text {
    display: block;
}

.span-txt {
    margin-top: -8%;
    padding-left: 10px;
}