#map {
    position: absolute;
    top: 56px;
    bottom: 0;
    width: 100%;
}

.leaflet-popup-content span {
    display: block;
    font-weight: bold;
}


.info.legend {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.legend .legend-icon {
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 12px;
}

.legend .awesome-marker {
    position: static;
    margin-top: 10px;
}

.legend .legend-text {
    display: block;
}


.legend-items {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.legend-items > div {
    margin-bottom: 10px; /* Ajuste o valor conforme necessário para a separação entre os conjuntos */
}

.txt-info {
    display: inline-block;
}

.legend-title {
    font-size: 16px;
}