html {
    font-size: 0.9em
}

.list-group-item.active {
    z-index: 2;
    color: #000000;
    background-color: #dddada;
    border-color: #000;
}

.list-group-item-dark {
    color: #ffffff;
    background-color: #000000;
}


.form-check-input:checked {
    background-color: #434343;
    border-color: #030303;
}